
$primary   : #800000;
$secondary : #26A69A;
$accent    : #dd4b39;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$warning3   : #F2C037;
.custom-dialog {
    max-width: 600px;
    width: 100%;
    // background-color: $primary;
    color: $primary;
    // padding: 16px;
  }
  .header-format-w{
    background-color: $primary;
    color: #fff;
  }

  .ntr-shdw{
    box-shadow: 0px 9px 20px rgba(128, 0, 0, 0.2) !important; 
  }